body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    touch-action: none; /* 禁用瀏覽器默認手勢操作 */
    border: 2px dashed #ccc;
    background: #fff;
    position: relative;
}


#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: center;
    touch-action: none;
    user-select: none;
    transition: transform 0.3s ease;
}

#controls {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#complete-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#complete-btn:hover {
    background-color: #0056b3;
}

#rotate-slider-container {
    margin-top: 10px;
}

#rotate-slider {
    width: 300px;
}
